name: Ejercicio 5
on:
  push:
    branches: [ "main" ]

env:
  APP_NAME: "Quiz App"
  VERSION: "1.0.0"

jobs:
  setup:
    runs-on: ubuntu-latest
    outputs:
      timestamp: ${{ steps.create-timestamp.outputs.timestamp }}

    steps:
      - name: Nombre y version de la APP 
        run: echo "Corriendo app $APP_NAME versión $VERSION"

      - name: Creamos el output timestamp
        id: create-timestamp
        run: echo "timestamp=$(date +%s)" >> $GITHUB_OUTPUT

  test:
    needs: setup
    runs-on: ubuntu-latest

    env:
      NODE_ENV: test
    
    steps:
      - name: Checkout del código
        uses: actions/checkout@v4

      - name: Configurar Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '18'

      - name: Ejecutar Test
        run: npm test

      - name: Leemos la salida de setup
        run: echo "Recibido, el timestamp es ${{ needs.setup.outputs.timestamp }}"

  deploy:
    needs: test
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    
    env:
      API_KEY: ${{ secrets.API_KEY }}

    steps:
      - name: Desplegando App
        run: echo "Desplegando $APP_NAME v$VERSION"

      - name: Verificando Secret
        run: |
          if [ -z "$API_KEY" ]; then
            echo "Error: La API_KEY no está configurada."
            exit 1
          fi
          echo "Secret configurada correctamente."